Assignment 2/cmake-build-debug
Assignment 2/CMakeLists.txt
Assignment 2/avg_many
Assignment 2/test.txt
Assignment 2/numbers.txt
Assignment 2/morenumbers.txt
Assignment 2/.idea
Assignment 3/cmake-build-debug
Assignment 3/CMakeLists.txt
Assignment 3/proc_manager
Assignment 3/cmdfile.txt
Assignment 3/.idea
Assignment 3/read_parse_file
Assignment 3/proj3.zip
Assignment 4/read_parse_file
Assignment 4/cmake-build-debug
Assignment 4/CMakeLists.txt
Assignment 4/memtrace.out
Assignment 4/test.txt
Assignment 4/mem_tracer
Assignment 4/.idea
.directory
