Assignment 2/cmake-build-debug
Assignment 2/CMakeLists.txt
Assignment 2/avg_many
Assignment 2/test.txt
Assignment 2/numbers.txt
Assignment 2/morenumbers.txt
Assignment 3/cmake-build-debug
Assignment 3/CMakeLists.txt
Assignment 3/proc_manager
Assignment 2/.idea
Assignment 3/.idea
Assignment 3/read_parse_file
.directory
